temporary/
output/
data/
processed_csv_files/testing/
processed_csv_files/training/ap_side_procedures/
processed_csv_files/training/beacon_loss/
processed_csv_files/training/connection_establishment/
processed_csv_files/training/data_frame_loss/
processed_csv_files/training/low_rssi/
processed_csv_files/training/periodic_scan_associated/
processed_csv_files/training/periodic_scan_unassociated/
processed_csv_files/training/power_state_low_to_high/
saved_models/